@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400&family=Courgette&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
  }


  header {
    font-family: 'Courgette', cursive;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px;    
    height: 80px;
    background-color: rgb(192, 76, 120);
  }

  main {
    background-image: url("./images/plateM.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  
  }
 .recipes-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
 }

 .recipeDiv{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  margin: 10px;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(207, 207, 205, 0.85);
  border-radius: 10px;;
  
 }

 button.recipeName {
  font-size: 20px;
  font-weight: 700;
  width: 400px;
  text-align: center;
  border-width: 0px;
  border-radius: 10px;
  padding: 8px;
 }

 button.recipeName:hover {
  cursor: pointer;
 }

 .recipeImage {
  width: 200px;
  height: 120px;
  margin: 10px;
}

div.tagsDiv{
  text-align: center;
  padding: 5px;
  font-size: 14px;
}

div.instructionsDiv{
display: flex;
flex-wrap: wrap;
justify-content: center;
}

div.instructions{
  background-image: url(./images/plainCardM.jpg);
  background-size: cover;
  background-position:center;
  width: 90vw;
  height: auto;
  padding:20px;
  margin: 20px;
  border-radius: 10px;
}

div.instructions h4 {
  padding-top: 15px;
}

footer {
  background-color: rgb(192, 76, 120);
  text-align: center;
  height: 50px;
  padding: 10px;;
}