* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  header {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
  }
 .recipes-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }

 .recipeDiv{
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  margin: 10px;
  justify-content: flex-start;
  align-items: center;
 }

 button.recipeName {
  font-size: 20px;
  font-weight: 700;
  width: 400px;
  text-align: center;
  border-width: 0px;
  padding: 8px;
 }

 button.recipeName:hover {
  cursor: pointer;
 }

 .recipeImage {
  width: 200px;
  height: 120px;
  margin: 10px;
}

div.tagsDiv{
  text-align: center;
  padding: 5px;
}